[submodule "dep/debugger-libs"]
	path = dep/debugger-libs
	url = https://github.com/mono/debugger-libs
[submodule "dep/nrefactory"]
	path = dep/nrefactory
	url = https://github.com/icsharpcode/NRefactory.git
